{% extends "home/base.html" %}
{% load static %}
{% block title %}About Us - Athemath{% endblock %}
{% block content %}
    <div id="content">
        <h1>About Us</h1>
        <h1 id="about">About</h1>
        <h2 id="the-problem">The problem</h2>
        <p>
            For many years, women have been underrepresented at the highest levels
            of math contests. 2024 is the first year since 2007 in which there has
            been a female
            <a href="https://www.imo-official.org/country_individual_r.aspx?code=USA">USA IMO team member</a>
            (congrats Jessica)! Usually around 1 in 12 of the USAMO gold medalists
            are female, and in over 30 years of Mathcounts, there hasn’t ever been
            <a href="https://en.wikipedia.org/wiki/Mathcounts#National_Champions">a single female Mathcounts champion.</a>
            If you pick 30 people at random, the chance that none of them are
            female is less than one in a <i>billion</i>. And on and on and on …
        </p>
        <p>
            What are some problems that face girls? There are many, but Athemath
            is most concerned with the
            <strong>lack of a female math community</strong>. While math itself is
            typically a solitary activity, for many competitors there's an
            intrinsic social aspect of math. We depend on our friends for advice
            on what to study, for motivation to work harder, and for support after
            failures. Math success doesn't happen in a vacuum.
        </p>
        <p>But girls miss out on this.</p>
        <p>
            Most of the time, we're the only girl on our math teams. The only girl
            on the math club. We room alone at all the contests, because there’s
            no other girls on the team to share a dorm with. And being a girl just
            makes it <i>that</i> much harder to be part of the all-male math team
            that’s been together for years, especially at an age that a lot of
            people struggle socially. Moreover, because there’s so few of us,
            we’re bombarded with unwanted attention and rude comments. We don't
            feel like we fit in, or that we belong with the math community, or
            that there's anyone to ask for help or support, and so we start
            dropping out.
        </p>
        <p>
            Read more about our philosophy and our virtual program
            <a href="virtual-program.html">here</a>.
        </p>
        <img src="{% static 'artwork/about-hands.png' %}"
             alt=""
             style="width: 100%" />
        <h2 id="who-we-are">Who we are</h2>
        <p>
            We are a 501(c)(3) non-profit incorporated in August of 2020. Our
            founder, Ali Cy,
            <a href="https://www.egmo.org/people/person1751/">represented the US</a>
            at the 2020 US European Girls’ Math Olympiad. Athemath began in
            conversations at EGMO about the pervasive lack of girls at higher
            levels of math contests and the specific problems that women in
            contest math faced.
        </p>
        <p>
            We ran our first session from March 2021 to May 2021. In the 2021-2022
            school year, we ran our program twice: once in the fall, and once in
            the spring, and we have been running it as such since then. To date,
            over two hundred non-binary and female students from around the world
            have congregated virtually in our virtual program for twelve weeks of
            class, community-building events, office hours, and casual voice
            chats. Read about what it's been like <a href="history.html">here</a>.
        </p>
        <p>
            Our staff has grown significantly larger, and the vast majority of us
            are math contest enthusiasts united by a desire to help girls reach
            their full mathematical potential. Read more about our staff
            <a href="staff.html">here</a>.
        </p>
    </div>
{% endblock content %}
