{% extends "home/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/donors.css" %}" />
{% endblock %}
{% block title %}Donors - Athemath{% endblock %}
{% block content %}
    <div id="content">
        <h1 id="donors">Donors</h1>
        <h2 id="26">2025-2026 Year</h2>
        <strong>Gold Sponsors</strong>
        <img src="{% static "sponsors/JaneStreet.png" %}"
             class="donor-logo"
             alt="Jane Street">
        <strong>Silver Sponsors</strong>
        <img src="{% static "sponsors/citadel.png" %}"
             class="donor-logo"
             alt="Citadel | Citadel Securities">
        <h2 id="25">2024-2025 Year</h2>
        <strong>Platinum Sponsors</strong>
        <img src="{% static "sponsors/carina.png" %}"
             class="donor-logo"
             alt="Carina Fund">
        <img src="{% static "sponsors/polynera.png" %}"
             class="donor-logo"
             alt="Polynera Fund">
        <div style="text-align: center; margin: 0 auto">Andrew Shaffer</div>
        <strong>Gold Sponsors</strong>
        <img src="{% static "sponsors/JaneStreet.png" %}"
             class="donor-logo"
             alt="Jane Street">
        <img src="{% static "sponsors/citadel.png" %}"
             class="donor-logo"
             alt="Citadel | Citadel Securities">
        <img src="{% static "sponsors/DEShawCo.png" %}"
             class="donor-logo"
             alt="D. E. Shaw Group">
        <strong>Bronze Sponsors</strong>
        <img src="{% static "sponsors/SPARC.png" %}"
             class="donor-logo"
             alt="SPARC">
        <h2 id="24">2023-2024 Year</h2>
        <strong>Platinum Sponsors</strong>
        <img src="{% static "sponsors/carina.png" %}"
             class="donor-logo"
             alt="Carina Fund">
        <img src="{% static "sponsors/polynera.png" %}"
             class="donor-logo"
             alt="Polynera Fund">
        <div style="text-align: center; margin: 0 auto">Andrew Shaffer</div>
        <h2 id="23">2022-2023 Year</h2>
        <strong>Gold Sponsors</strong>
        <img src="{% static "sponsors/JaneStreet.png" %}"
             class="donor-logo"
             alt="Jane Street">
        <img src="{% static "sponsors/DEShawCo.png" %}"
             class="donor-logo"
             alt="D. E. Shaw &amp; Co.">
        <strong>Bronze Sponsors</strong>
        <img src="{% static "sponsors/SPARC.png" %}"
             class="donor-logo"
             alt="SPARC">
        <h2 id="22">2021-2022 Year</h2>
        <strong>Gold Sponsors</strong>
        <img src="{% static "sponsors/JaneStreet.png" %}"
             class="donor-logo"
             alt="Jane Street">
        <strong>Silver Sponsors</strong>
        <img src="{% static "sponsors/DEShawCo.png" %}"
             class="donor-logo"
             alt="D. E. Shaw &amp; Co.">
        <h2 id="21">2020-2021 Year</h2>
        <img src="{% static "sponsors/DEShawCo.png" %}"
             class="donor-logo"
             alt="D. E. Shaw &amp; Co.">
    </div>
{% endblock content %}
