{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="splash">
    <div class="container">
        <h1 class="splash-text">
            Bringing extraordinary young women together, through math.
        </h1>
        <ul class="splash-list">
            <li class="splash-item">
                <a class="splash-link" href="{% url 'home:about' %}">Learn about us</a>
            </li>
            <li class="splash-item">
                <a class="splash-link" href="{% url 'home:staff' %}">See our staff</a>
            </li>
            <li class="splash-item">
                <a class="splash-link" href="{% url 'home:virtual_program' %}">Virtual Program</a>
            </li>
            <li class="splash-item">
                <a class="splash-link" href="{% url 'home:past_psets' %}"><b>Apply in December!</b></a>
            </li>
            <li class="splash-item">
                <a class="splash-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeu7CGC6YIrdNBNOhaAApcSpDYQFcLRd532OTZM7o9o7iCP8w/viewform?usp=sf_link">
                    Join our newsletter
                </a>
            </li>
        </ul>
    </div>
</div>

<table class="table table-bordered w-auto twocolumn">
    <tbody>
        <tr>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="th-sm big-text">About</th>
            <td class="small-text">
                <p>
                    Women face unique obstacles in math contests. We know what it's like being the only girl in the room,
                    at contest after contest. It's isolating and demotivating. And because of this, we're missing out on
                    the incredible opportunities offered by math contests.
                </p>
                <div class="opt-link">
                    <a href="{% url 'home:about' %}" class="opt-text">Learn about us</a>
                </div>
                <p>
                    We're a nonprofit whose mission is to both provide high-quality, low-cost contest math classes for
                    ambitious girls as well as create a community of math girls, from all levels of success, age, and
                    experience, that can support each other on their math journey. We believe in the power of community
                    and of women to help each other succeed. We are a non-profit organization comprising current and
                    former competitors ranging from MOPpers, USAMO qualifiers, and more&mdash;both women and men.
                </p>
                <div class="opt-link">
                    <a href="{% url 'home:virtual_program' %}#philosophy" class="opt-text">Learn more about our philosophy</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="th-sm big-text">Virtual Program</th>
            <td class="small-text">
                <p>
                    In one sentence: a math summer camp, but virtual and during the school year. Our program is a mix of
                    both math and community-building, where you do a lot of math and also get to know some other wonderful
                    people while you're at it.
                </p>
                <p>
                    The core of the virtual program is a six-lesson math class. Our teachers are selected from the highest
                    levels of math contests. They bring the experience and knowledge students need to succeed with the
                    flexibility to design their own curriculum. Along with the class, Athemath also provides office hour
                    sessions where students can ask for help on their classes' homework or any other math questions.
                </p>
                <p>
                    Also included in our program are program-wide math events, community building events, a virtual lounge,
                    and relaxed get-to-know-you chats.
                </p>
                <p>
                    One 3-month course has a class fee of $90 and we offer
                    <a class="athered underline" href="{% url 'home:virtual_program' %}#our-financial-aid-program">financial aid</a>
                    that waives the class fee for qualifying students.
                </p>
                <div class="opt-link">
                    <a href="{% url 'home:virtual_program' %}" class="opt-text">Learn more about the Virtual Program</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="th-sm"></th>
            <td class="small-text">
                <img src="{% static 'temphome.png' %}" class="twocolumn-img" alt="Athemath students" />
            </td>
        </tr>
        <tr>
            <th scope="row" class="th-sm big-text">Contribute</th>
            <td class="small-text">
                <p>
                    In order to bring the best teachers to our students, cover costs, and offer a financial aid program,
                    we depend on the generosity of our donors.
                </p>
                <div class="opt-link">
                    <a href="{% url 'home:donors' %}#dwu" class="opt-text">Donate</a>
                </div>
                <p>
                    We're currently looking for sponsors for our 2025-2026 school year events. If you'd like to sponsor us,
                    please contact us as specified below.
                </p>
                <p>
                    The sponsors of our activities in past years include
                    <strong>Carina Fund</strong>, <strong>Jane Street</strong>, and <strong>D. E. Shaw</strong>.
                </p>
                <img src="{% static 'uploads/logos/carina.png' %}" class="donor-logo" />
                <img src="{% static 'uploads/logos/JaneStreet.png' %}" class="donor-logo" />
                <img src="{% static 'uploads/logos/DEShawCo.png' %}" class="donor-logo" />
                <div class="opt-link">
                    <a href="{% url 'home:donors' %}" class="opt-text">Our sponsors</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row" class="th-sm big-text">Contact us</th>
            <td class="small-text">
                You can reach us through email at
                <a href="mailto:contact@athemath.org" class="athered underline">contact@athemath.org</a>.
                Email is the preferred contact method.
            </td>
        </tr>
    </tbody>
</table>

<div class="twocolumn twocolumn-small">
    <div scope="row" class="th-sm big-text">About</div>
    <div class="small-text">
        <p>
            Women face unique obstacles in math contests. We know what it's like being the only girl in the room, at contest
            after contest. It's isolating and demotivating. And because of this, we're missing out on the incredible opportunities
            offered by math contests.
        </p>
        <div class="opt-link">
            <a href="{% url 'home:about' %}" class="opt-text">Learn about us</a>
        </div>
        <p>
            We're a nonprofit whose mission is to both provide high-quality, low-cost contest math classes for ambitious girls
            as well as create a community of math girls, from all levels of success, age, and experience, that can support each
            other on their math journey. We believe in the power of community and of women to help each other succeed. We are
            a non-profit organization made up of current and ex-competitors made of MOPpers, USAMO qualifiers, and more, both
            women and men.
        </p>
        <div class="opt-link">
            <a href="{% url 'home:virtual_program' %}#philosophy" class="opt-text">Learn more about our philosophy</a>
        </div>
    </div>
    <div scope="row" class="th-sm big-text">Virtual Program</div>
    <div class="small-text">
        <p>
            In one sentence: a math summer camp, but virtual and during the school year. Our program is a mix of both math
            and community-building, where you do a lot of math and also get to know some other wonderful people while you're at it.
        </p>
        <p>
            The core of the virtual program is a six-lesson math class. Our teachers are selected from the highest levels of
            math contests. They bring the experience and knowledge students need to succeed with the flexibility to design their
            own curriculum. Along with the class, Athemath also provides office hour sessions where students can ask for help
            on their classes' homework or any other math questions.
        </p>
        <p>
            Also included in our program are program-wide math events, community building events, a virtual lounge, and relaxed
            get-to-know-you chats.
        </p>
        <p>
            One 3-month course has a class fee of $90 and we offer
            <a class="athered underline" href="{% url 'home:virtual_program' %}#our-financial-aid-program">financial aid</a>
            that waives the class fee for qualifying students.
        </p>
        <div class="opt-link">
            <a href="{% url 'home:virtual_program' %}" class="opt-text">Learn more about the Virtual Program</a>
        </div>
    </div>
    <div scope="row" class="th-sm"></div>
    <div class="small-text">
        <img src="{% static 'temphome.png' %}" class="twocolumn-img" alt="Athemath students" />
    </div>
    <div scope="row" class="th-sm big-text">Contribute</div>
    <div class="small-text">
        <p>
            In order to bring the best teachers to our students, cover costs, and offer a financial aid program, we depend on
            the generosity of our donors.
        </p>
        <div class="opt-link">
            <a href="{% url 'home:donors' %}" class="opt-text">Donate</a>
        </div>
        <p>
            We're currently looking for sponsors for our 2024-2025 school year events. If you'd like to sponsor us, please
            contact us as specified below.
        </p>
        <p>
            The sponsors of our 2022-2023 school year activities include
            <strong>Jane Street</strong> and <strong>D.E. Shaw & Co</strong>.
        </p>
        <img src="{% static 'uploads/logos/JaneStreet.png' %}" class="donor-logo" />
        <img src="{% static 'uploads/logos/DEShawCo.png' %}" class="donor-logo" />
        <div class="opt-link">
            <a href="{% url 'home:donors' %}" class="opt-text">Our sponsors</a>
        </div>
    </div>
    <div scope="row" class="th-sm big-text">Contact us</div>
    <div class="small-text">
        You can reach us through email at
        <a href="mailto:contact@athemath.org" class="athered underline">contact@athemath.org</a>.
        Email is the preferred contact method.
    </div>
</div>
{% endblock content %}
