{% extends "home/base.html" %}
{% block title %}
    Past Problem Sets - Athemath
{% endblock title %}
{% block content %}
    <div id="content">
        <h1>Past Problem Sets</h1>
        {% if psets %}
            <ul>
                {% for pset in psets %}
                    <li>
                        {% if pset.file %}
                            <a href="{{ pset.file.url }}" target="_blank">{{ pset.name }}</a>
                        {% else %}
                            {{ pset.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No past problem sets available yet.</p>
        {% endif %}
    </div>
{% endblock content %}
