{% extends "home/base.html" %}
{% load static %}
{% block title %}
    Staff - Athemath
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stafflist.css' %}" />
{% endblock extra_css %}
{% block content %}
    <div id="content">
        <h1>Previous Staff</h1>
        <p>
            See also <a href="{% url "home:staff" %}">current staff</a>.
        </p>
        {% include "home/components/staff_list.html" with objects=past %}
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/stafflist.js' %}"></script>
{% endblock extra_js %}
