{% extends "home/base.html" %}
{% block title %}Scholarships - Athemath{% endblock %}
{% block content %}
    <div id="content">
        <h1 id="scholaships">Scholarships</h1>
        <p>
            In the 2025-2026 year, we are running a scholarship program for female
            and nonbinary students who wish to attend in-person contests, but
            cannot afford to. We are sponsoring several trips, each of up to $300
            value, to an in-person math tournament of choice, for female or
            nonbinary students, whether or not they participate on Athemath teams.
        </p>
        <p>
            The $300 may cover travel costs, food costs, hotel costs,
            transportation costs, and any other costs related to the trip. The
            money will be provided as a reimbursement check after we receive
            receipts for any costs related to the trip.
        </p>
        <p>
            This opportunity is only available to students who would otherwise not
            be able to attend these events. It is not free money for families who
            would regularly be able to afford this trip.
        </p>
        <p>
            Currently, we are only opening up this opportunity to Virtual Program
            participants and alumni. We may also open up this opportunity to
            non-alumni at a later time.
        </p>
    </div>
{% endblock content %}
