{% extends "home/base.html" %}
{% load static %}
{% block title %}
    Staff - Athemath
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/stafflist.css' %}" />
{% endblock extra_css %}
{% block content %}
    <div id="content">
        <h1>Our Staff</h1>
        <h2>Board</h2>
        {% include "home/components/staff_list.html" with objects=board %}
        <h2>Teachers</h2>
        {% include "home/components/staff_list.html" with objects=teachers %}
        <h2>TAs</h2>
        {% include "home/components/staff_list.html" with objects=tas %}
        <h2>Past Staff</h2>
        <p>
            See <a href="{% url "home:past_staff" %}">past staff</a>.
        </p>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/stafflist.js' %}"></script>
{% endblock extra_js %}
