{% extends "home/base.html" %}
{% load static %}
{% block title %}Staff - Athemath{% endblock %}
{% block content %}
    <div class="content">
        <h2>Board</h2>
        <div class="staff-list">
            {# one example of a listing #}
            <div class="staff-container-hidden">
                <div class="staff-left" style="width: 200px">
                    <img class="staff-img"
                         src="../staffpics/gretaqu.jpg"
                         height="200"
                         alt="Greta Qu" />
                    <img class="staff-max-icon"
                         src="../athe_icons/maximize.svg"
                         alt="Maximize icon" />
                    <div class="staff-name-hidden">
                        <h4 class="card-title">Greta Qu</h4>
                        <h5 class="staff-desc">President and Teacher</h5>
                    </div>
                </div>
                <div class="staff-right-hidden">
                    <p class="staff-text">
                        Greta is a high school junior from Canada. She has qualified
                        for USAJMO twice and attended MOP in 2024. She loves interacting
                        with the math community; she hopes to share her passion for math
                        and inspire other girls to enjoy the subject as well. Outside of
                        math, Greta enjoys chess and listening to music.
                    </p>
                    <p>
                        Greta will be teaching <i>Combo Heuristics</i> this Fall!
                        She also taught <i>Combo Heuristics</i> during the 2024-2025 school year!
                    </p>
                    <p>Greta was also an Athemath student from 2022 to 2024!</p>
                </div>
            </div>
            {# etc. #}
        </div>
        <h2>Teachers</h2>
        <h2>TAs</h2>
        <h2>Past Staff</h2>
    </div>
{% endblock content %}
