{% extends "home/base.html" %}
{% block title %}
    History - Athemath
{% endblock title %}
{% block content %}
    <div id="content">
        <h1>History</h1>
        {% if history_entries %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5">Jump to...</h2>
                    {% for entry in history_entries %}
                        <a href="#{{ entry.slug }}">{{ entry.title }}</a>
                        {% if not forloop.last %}•{% endif %}
                    {% endfor %}
                </div>
            </div>
            {% for entry in history_entries %}
                <div class="mb-5" id="{{ entry.slug }}">
                    <h2>{{ entry.title }}</h2>
                    <div>{{ entry.content_rendered|safe }}</div>
                </div>
            {% endfor %}
        {% else %}
            <p>No history entries available yet.</p>
        {% endif %}
    </div>
{% endblock content %}
