{% extends "home/base.html" %}
{% load static %}
{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/courses.css" %}" />
{% endblock %}
{% block content %}
    <div class="content">
        <div class="catnav">
            <div class="catnav-curr">{{ semester.name }}</div>
            {% if prev_semester %}
                <div class="catnav-back">
                    <a id="catnav-back-link"
                       href="{% url 'courses:course_list' slug=prev_semester.slug %}">
                        <img src="{% static "icons/chevrons-left.svg" %}" id="catnav-back-chev" alt="Previous">
                        <span class="catnav-back-text-long">Previous</span><span class="catnav-back-text-short">Prev.</span></a>
                </div>
            {% endif %}
            {% if next_semester %}
                <div class="catnav-forward">
                    <a id="catnav-forward-link"
                       href="{% url 'courses:course_list' slug=next_semester.slug %}">
                        <span class="catnav-forward-text">Next</span>
                        <img src="{% static "icons/chevrons-right.svg" %}" id="catnav-forward-chev" alt="Next">
                    </a>
                </div>
            {% endif %}
        </div>
        <div id="content">
            <div class="session-time">
                <i>Held {{ semester.start_date|date:"F jS, Y" }}—{{ semester.end_date|date:"F jS, Y" }}</i>
                <p>
                    <a href="{% url 'courses:semester_list' %}">View all semesters</a>
                </p>
            </div>
            {% for course in courses %}
                <div class="course">
                    <div class="course-title-wrap">
                        {% if course.instructor %}
                            <img src="{{ course.instructor.photo.url }}"
                                 alt="{{ course.instructor.display_name }}"
                                 class="course-instructor-photo">
                        {% endif %}
                        <div class="course-title-text">
                            <h2 class="course-title">
                                {{ course.name }}
                                {% if user.is_staff %}
                                    <a href="{% url 'courses:course_detail' pk=course.pk %}"
                                       style="font-size: 0.6em;
                                              margin-left: 10px">[View]</a>
                                    <a href="{% url 'admin:courses_course_change' course.pk %}"
                                       style="font-size: 0.6em;
                                              margin-left: 5px">[Edit]</a>
                                {% endif %}
                            </h2>
                            {% if course.instructor %}
                                <p>
                                    Instructor:
                                    <a class="course-teach" href="{{ course.instructor.get_absolute_url }}">{{ course.instructor.display_name }}</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="course-text">
                        <div class="course-ds">
                            <span class="course-description">{{ course.description|linebreaks }}
                                {% if course.difficulty %}
                                    <p>
                                        <i>Difficulty: {{ course.difficulty }}</i>
                                    </p>
                                {% endif %}
                            </span>
                        </div>
                        {% include "courses/components/lesson_plan.html" %}
                    </div>
                </div>
            {% empty %}
                <p>
                    <i>No classes yet.</i>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
