{% extends "home/base.html" %}
{% block title %}
    My Classes - Athemath
{% endblock title %}
{% block content %}
    <div id="content">
        <h1>My Classes</h1>
        {% if enrolled_courses %}
            <div class="list-group mt-4">
                {% for course in enrolled_courses %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">
                                <a href="{% url 'courses:course_detail' pk=course.pk %}">{{ course.name }}</a>
                            </h5>
                            <small class="text-muted">{{ course.semester }}</small>
                        </div>
                        {% if course.instructor %}
                            <p class="mb-1">
                                <strong>Instructor:</strong>
                                <a href="{{ course.instructor.get_absolute_url }}">{{ course.instructor }}</a>
                            </p>
                        {% endif %}
                        {% if course.regular_meeting_time %}<small class="text-muted">{{ course.regular_meeting_time }}</small>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>You are not currently enrolled in any courses.</p>
        {% endif %}
    </div>
{% endblock content %}
