{% extends "home/base.html" %}
{% block title %}
    Past Clubs and Events - Athemath
{% endblock title %}
{% block content %}
    <div id="content">
        <h1>Past Clubs and Events</h1>
        {% if past_clubs %}
            <div class="mt-4">
                <div class="list-group">
                    {% for club in past_clubs %}
                        {% include "courses/components/course_list_item.html" with course=club %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No clubs or events from past semesters.</p>
        {% endif %}
    </div>
{% endblock content %}
