{% extends "home/base.html" %}
{% block content %}
    <div class="content">
        <h1>All Semesters</h1>
        <div class="catalog-scroll">
            {% for semester in semesters %}
                <div class="semester-entry">
                    <h3>
                        <a href="{% url 'course_list' slug=semester.slug %}">{{ semester.name }}</a>
                    </h3>
                    <p>
                        <i>{{ semester.start_date|date:"F jS, Y" }}—{{ semester.end_date|date:"F jS, Y" }}</i>
                    </p>
                    <p>{{ semester.courses.count }} course{{ semester.courses.count|pluralize }}</p>
                </div>
            {% empty %}
                <p>No semesters available yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
