{% extends "home/base.html" %}
{% block content %}
    <div class="content">
        <h1>All Semesters</h1>
        <ul>
            {% for semester in semesters %}
                <li>
                    <a href="{% url 'courses:course_list' slug=semester.slug %}">{{ semester.name }}</a>:
                    {{ semester.start_date|date:"F jS, Y" }}—{{ semester.end_date|date:"F jS, Y" }}
                    ({{ semester.courses.count }} course{{ semester.courses.count|pluralize }})
                </li>
            {% empty %}
                <p>No semesters available yet.</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
