<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Athemath</title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'css/athemath.css' %}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
              rel="stylesheet">
    </head>
    <body>
        {% block base-content %}
        {% endblock base-content %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
