{# copied from old athemath site, probably needs cleanup #}
{% extends "base.html" %}
{% block base-content %}
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="athered">Athe</span><span style="color: #000">math</span>
            </a>
        </div>
    </nav>
    <div class="container">
        {% block layout-content %}
        {% endblock layout-content %}
    </div>
{% endblock base-content %}
