{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="d-grid gap-2">
        {% for provider in socialaccount_providers %}
            {% if provider.id == "openid" %}
                {% for brand in provider.get_brands %}
                    {% provider_login_url provider openid=brand.openid_url process=process as href %}
                    <a href="{{ href }}" class="btn btn-outline-secondary btn-lg">Connect with {{ brand.name }}</a>
                {% endfor %}
            {% else %}
                {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                {% if provider.id == "google" %}
                    <a href="{{ href }}" class="btn btn-outline-danger btn-lg">
                        {% include "icons/google.svg" %}
                        {% if process == "connect" %}
                            Connect
                        {% else %}
                            Continue with
                        {% endif %}
                        Google
                    </a>
                {% elif provider.id == "github" %}
                    <a href="{{ href }}" class="btn btn-outline-dark btn-lg">
                        {% include "icons/github.svg" %}
                        {% if process == "connect" %}
                            Connect
                        {% else %}
                            Continue with
                        {% endif %}
                        GitHub
                    </a>
                {% elif provider.id == "discord" %}
                    <a href="{{ href }}" class="btn btn-outline-primary btn-lg">
                        {% include "icons/discord.svg" %}
                        {% if process == "connect" %}
                            Connect
                        {% else %}
                            Continue with
                        {% endif %}
                        Discord
                    </a>
                {% else %}
                    <a href="{{ href }}" class="btn btn-outline-secondary btn-lg">
                        {% if process == "connect" %}
                            Connect
                        {% else %}
                            Continue with
                        {% endif %}
                        {{ provider.name }}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
