/* RED COLOR: #a02828 (160, 40, 40)*/

body {
  margin-top: 70px;
  font-family: "Lora", serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #fff7f7 !important;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.athered {
  color: #a02828;
}

.logo {
  padding-bottom: 5px;
  padding-left: 5px;
}

/* Content area typography */
#content {
  font-size: 18px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
}

#content h1 {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
}

#content h2 {
  font-size: 30px;
  font-weight: 500;
  padding: 25px 0 18px;
}

#content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #a02828;
  padding: 15px 0;
}

#content a:not(.btn, .list-group-item) {
  color: #a02828;
  text-decoration: underline;
}

@media (max-width: 600px) {
  #content {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Underlined links */
.athered.underline {
  text-decoration: underline;
}

/* Footer */
#athe-footer {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#athe-footer a {
  text-decoration: none;
}

.sitemap-big,
.sitemap-medium,
.sitemap-small {
  background-color: #111;
  padding: 50px 0 30px;
  margin: 0;
  width: 100%;
  hyphens: auto;
}

.sitemap-medium,
.sitemap-small {
  display: none;
}

@media (max-width: 1050px) {
  .sitemap-big {
    display: none;
  }
  .sitemap-medium {
    display: inline-block;
  }
  .sitemap-small {
    display: none;
  }
}

@media (max-width: 650px) {
  .sitemap-big {
    display: none;
  }
  .sitemap-medium {
    display: none;
  }
  .sitemap-small {
    display: inline-block;
  }
  .f-list {
    text-indent: 50px;
  }
}

.f-lastcol {
  padding-right: 0;
}

.f-title {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  padding-left: 30px;
}

span.f-head {
  color: #999;
  font-weight: 600;
  font-size: 12pt;
}

a.f-head {
  color: #fff;
  font-weight: 600;
}

.f-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.f-body {
  color: #fff;
  font-weight: 400;
  font-size: 12pt;
}

.row {
  max-width: 100%;
}

.copy {
  background-color: #000;
  padding: 20px 0 0 50px;
  font-size: 14px;
  color: #fff;
  width: 100%;
  margin: 0;
}
.copy a {
  color: #cc7d00;
}

/* Global hover effect */
a:hover {
  color: #ff9d00;
}

/* Quote styling */
blockquote {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-left: 2px #a02828 solid;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff7f7;
  text-indent: 0;
  padding-right: 10px;
}

/* Image styling */
.text-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 40px;
  padding-bottom: 50px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 90%;
  margin: 0 auto;
  display: block;
  text-align: center;
}

figcaption {
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  margin-top: 10px;
  background-color: transparent;
  padding: 5px;
  text-align: center;
}

/* Optional link styling */
.opt-link {
  background: url("../icons/arrow-right-circle.svg") no-repeat left center;
  margin: 10px 0 10px 30px;
  padding-left: 30px;
  font-weight: 400;
}

.opt-link:hover {
  background: url("../icons/arrow-right-circle_orange.svg") no-repeat left
    center;
  margin-left: 50px;
}

.opt-link:hover a {
  color: #ff9d00;
  text-decoration: underline;
}

a.opt-text {
  color: #a02828;
}
