/* Homepage-specific styles */

/* Splash section */
.splash {
  margin-top: -30px;
  padding: 20px 2vw 40px;
  background-color: #fff7f7;
  background-image: url("../artwork/home-banner.png");
  background-size: cover;
}

.splash-text {
  font-size: 40px;
  font-weight: 600;
  color: #a02828;
}

ul.splash-list {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 20px 50px;
}

li.splash-item {
  background: url("../icons/arrow-right.svg") no-repeat left center;
  padding-left: 40px;
  padding-top: -1px;
  margin: 4px;
}

.splash-link {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

li.splash-item:hover {
  background: url("../icons/arrow-right_orange.svg") no-repeat left center;
  margin-left: 20px;
}

li.splash-item:hover a {
  color: #ff9d00;
}

@media (max-width: 800px) {
  .splash {
    background-image: none;
  }
}

@media (max-width: 500px) {
  .splash-text {
    margin-top: 80px;
    font-size: 30px;
  }

  .splash-link {
    font-size: 20px;
  }

  ul.splash-list {
    margin-top: 20px;
    margin-left: 25px;
  }

  li.splash-item {
    background: url("../icons/arrow-rightthin.svg") no-repeat left center;
    padding-left: 30px;
    padding-top: 1px;
    margin: 4px;
  }

  li.splash-item:hover {
    background: url("../icons/arrow-right_orangethin.svg") no-repeat left center;
  }
}

/* Home page content layout */
.home-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-section {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.home-section-image {
  grid-template-columns: 1fr;
}

.section-header {
  font-size: 30px;
  font-weight: 600;
  color: #a02828;
  margin: 0;
  padding-right: 30px;
  text-align: right;
  border-right: 1.5px solid #000;
}

.section-content {
  font-size: 18px;
  font-weight: 500;
}

.section-content p {
  text-indent: 40px;
  margin-bottom: 1rem;
}

.home-image {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Donor logos */
.donor-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  max-width: 200px;
}

/* Responsive layout */
@media (max-width: 1000px) {
  .home-content {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .home-section {
    grid-template-columns: 1fr;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
  }

  .section-header {
    text-align: left;
    padding-right: 0;
    padding-bottom: 10px;
    border-right: none;
  }

  .section-content {
    padding-left: 15px;
  }

  .home-image {
    max-width: 60%;
  }
}

@media (max-width: 500px) {
  .section-content {
    font-size: 16px;
    padding-left: 0;
  }

  .section-content p {
    text-indent: 20px;
  }

  .home-image {
    max-width: 80%;
  }
}
