.staff-list {
  display: flex;
  flex-wrap: wrap;
}

.staff-container-visible {
  display: flex;
  margin: 15px;
  border-style: solid;
  border-width: 0px;
}

.staff-container-hidden {
  display: flex;
  flex: 1;
  flex-grow: 0;
  margin: 15px;
}

.staff-container-visible:hover {
  cursor: pointer;
}

.staff-container-hidden:hover {
  cursor: pointer;
}

.staff-left {
  flex-basis: auto;
  flex-grow: 0;
  text-align: center;
  color: #fff;
}

.staff-name-visible {
  background-color: #a02828;
  padding: 15px;
  position: relative;
  top: -25px;
}

.staff-name-hidden {
  background-color: #a02828;
  padding: 15px;
  position: relative;
  top: -25px;
}

.staff-img {
  display: inline-block;
  position: relative;
}
.staff-max-icon {
  position: relative;
  left: 87px;
  top: -200px;
}

.staff-right-visible {
  flex: 1;
  width: 40vw;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: #a02828;
  background-color: #fff7f7;
}

.staff-right-hidden {
  display: none;
}

.staff-right-visible p {
  padding: 15px;
}

@media (max-width: 750px) {
  .staff-container-visible {
    display: initial;
  }
  .staff-right-visible {
    border-style: solid;
    border-width: 0px;
    width: auto;
    border-right-width: 1px;
    border-color: #a02828;
    background-color: #fff7f7;
  }
}

.staff-text {
  margin-bottom: 0px;
}
