{% extends "reg/student_step_base.html" %}
{% load static %}
{% load reg_questions %}
{% block step_intro %}
    <p>
        Mark every half hour you could attend a class. The more you can mark, the easier
        you are to schedule, so include times that are possible even if they aren't your
        favorite.
    </p>
{% endblock step_intro %}
{% block step_fields %}
    {% question form.availability %}
    {% question form.availability_comments %}
{% endblock step_fields %}
{% block step_js %}
    <script src="{% static "js/availability-grid.js" %}"></script>
{% endblock step_js %}
