{% extends "home/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_css %}
    <link type="text/css"
          rel="stylesheet"
          href="{% static "vendor/tom-select/tom-select.bootstrap5.min.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/reg.css" %}" />
{% endblock extra_css %}
{% block title %}
    {{ form.title }} - Student Registration
{% endblock title %}
{% block content %}
    <div id="content">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1>Student Registration</h1>
                <p class="text-muted">
                    {{ invite.semester }}
                    {% if student %}&middot; {{ student.airtable_name }}{% endif %}
                </p>
                {% include "reg/components/step_progress.html" %}
                {% if complete %}
                    <div class="alert alert-success">
                        You're all set: we have everything we need from you. You can still
                        change any of your answers here until registration closes.
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <strong>{{ form.title }}</strong>
                    </div>
                    <div class="card-body">
                        {% block step_intro %}
                        {% endblock step_intro %}
                        {% bootstrap_form_errors form type="non_fields" %}
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% block step_fields %}
                            {% endblock step_fields %}
                            <div class="d-flex justify-content-end gap-2 mt-4">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    {% if complete %}
                                        Save changes
                                    {% elif last_step %}
                                        Finish registration
                                    {% else %}
                                        Save and continue
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static "vendor/tom-select/tom-select.complete.min.js" %}"></script>
    <script src="{% static "js/tom-select-init.js" %}"></script>
    {% block step_js %}
    {% endblock step_js %}
{% endblock extra_js %}
